a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  background-color: #fefaec;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  /* 16px=100%=1em*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  border-bottom: 0;
  margin: 100px auto;
  width: 10%;
}

span {
  text-decoration: underline;
}

p {
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.gaming {
  width: 20%;
  float: right;
  margin-left: 40px;
}

.intro {
  width: 40%;
  margin: auto;
}

.profile-pic {
  height: 155px;
  width: 140px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.bottom_container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.middle_container {
  margin: 100px 0;
}

.top_container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.programmer {
  font-weight: normal;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #4063ed;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}